.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
  background-color: white;
  padding: 2rem 1rem;
  box-sizing: border-box;

  .containerLogo {
    img {
      width: 40%;
      object-fit: contain;
    }
  }

  .containerText {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: start;

    .text{
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      width: 100%;

      a {
        font-size: 0.8rem;
        color: var(--gray);
        font-weight: 400;
        margin-bottom: 0.5em;
        white-space: nowrap;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      p{
        text-align: start;
      }
    }

    .title {
      color: var(--gray)
    }

    p {
      font-size: 0.8rem;
      color: var(--gray);
      font-weight: 400;
      margin-bottom: 0.5em;
      white-space: nowrap;
    }
    h4{
      font-size: 0.8rem;
      color: var(--gray)
    }
  }

}